- var page = 'home';

doctype html
html(lang="en")
    head
        include ./partials/global/head
    body
        include ./partials/global/sprite

        .global-wrap
            include ./partials/global/header

            main
                include partials/home/001-main-block

            include ./partials/global/footer
        include ./partials/global/scripts

